.edxpencedate{
    background-color: rgb(22, 22, 22);
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    width: 13%;
    overflow: hidden;
}

.month{
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.year{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
}
.day{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 0%;
    margin-top: 0%;
}
@media (max-width:768px) {
    .edxpencedate{
        width: 32%;
    }
}