.expenceFiltrMainSection{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.filterTitle{
    font-size: 20px;
}
.fielteSection select{
    font-size: 20px;
    padding: 10px 30px;
    /* color: #40005d;
    background: linear-gradient(white, #40005d); */
    border-radius: 5px;
    outline: none;
    font-weight: bold;
}
.fielteSection select:focus{
    border: none;
}